body {font-size:16;line-height:2; font-family:Verdana;background-image:url(blackwav.jpg);background-attachment:fixed;color:yellow;list-style-image:url(ball7.gif);}
a {color:yellow;font-weight:bolder;font-size:140%;}
a:hover {background-color:yellow;color=black}
h2 {font-size:120%;}
