<aside class="share-plug">
    {% if page.lang == 'ro' %}
    Pentru întrebări sau comentarii, poți folosi secțiunea de mai jos. Dacă ți-a plăcut acest articol, poți să
    <a id="fb-share" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Distribuie pe Facebook">îl distribui</a>
    sau să
    <a href="https://facebook.com/andreioghina" title="Urmărește pe Facebook">mă urmărești</a>
    pe Facebook.
    {% else %}
    If you have questions or comments, you can post them below. If you liked this post, you can
    <a id="fb-share" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook">share it</a>
    or
    <a href="https://facebook.com/andreioghina" title="Follow on Facebook">follow me</a>
    on Facebook.
    {% endif %}
</aside>

<script type="text/javascript">

window.onload = function () {
    document.getElementById("fb-share").onclick = function(e) {
        var winWidth = 700;
        var winHeight = 500;
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        var url = e.target.href;
        if (url) {
            var newWindow = window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
            if (newWindow) {
                e.preventDefault();
            }
        }
    };
};
</script>
